@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This online math training site provides all levels of contest questions to enhance the mathematics skills for interested students.</p>
<p>We also seek to build a social platform for kids to train and work within a team, motivating the members to dig out their full potentials.</p>
<p>The site is still in the trial run status for function enhancement, more test questions will be posted over time</p>
<p>Please leave notes in the bug report section</p>