@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    17 Union Place<br />
    Summit, NJ 07901<br />
    <abbr title="Phone">P:</abbr>
    ***-*******
</address>

<address>
    <strong>Support:</strong> <a href="mailto:JasonGuo11@hotmail.com">JasonGuo11@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:AllisonG2009@hotmail.com">AllisonG2009@hotmail.com</a>
</address>
