@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Please leave notes in the bug report section<br/>
    <abbr title="Phone">P:</abbr>
    ***-*******
</address>

<address>
    <strong>Support:</strong> <a href="mailto:TestAdmG1888@hotmail.com">TestAdmG1888@hotmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:TestAdmG1888@hotmail.com">TestAdmG1888@hotmail.com</a>
</address>
