<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net xmlns="">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4r [%t] %-5p %c %x - %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="C:\\temp\\webmathtraining-%property{qinstalldir}-%property{pname}-%processid.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="1000KB" />
      <param name="StaticLogFileName" value="true" />
      <param name="Threshold" value="All" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-3t] %-7p %c : %m [%file %line] -%X{Context} [%property{qdbid}]%n" />
      </layout>
    </appender>
    <!-- <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="localhost" />
      <remotePort value="7071" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
	</appender>-->
    <!-- This can be used with LogStash, because LogStash does not know how to deal with UdpAppenders -->
    <!-- Uncomment this section to diagnose issues with Reporting Service. 
	If a client has any custom table providers, please add the libraries to this section -->
    <!--<logger name="BaseEntity.Risk.Services.ReportingService">
		<level value="DEBUG" />
	</logger>
	<logger name="BaseEntity.Risk.DataMart">
		<level value="DEBUG" />
	</logger>-->
    <root>
      <level value="WARN" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="ActiveMQAppender" />-->
      <!-- <appender-ref ref="UdpAppender" /> -->
    </root>
  </log4net>
</configuration>