<?xml version="1.0" standalone="yes"?>
<configuration xmlns:xi="http://www.w3.org/2001/XInclude">
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<alias alias="FileCalendarRepository" type="BaseEntity.Toolkit.Base.FileCalendarRepository, BaseEntity.Toolkit.Base" />
    <alias alias="ICalendarRepository" type="BaseEntity.Toolkit.Base.ICalendarRepository, BaseEntity.Toolkit.Base" />-->
    <alias alias="IDataExporterRegistry" type="BaseEntity.Metadata.IDataExporterRegistry, BaseEntity.Metadata" />
    <alias alias="IDataImporterRegistry" type="BaseEntity.Metadata.IDataImporterRegistry, BaseEntity.Metadata" />
    <alias alias="DataExporterRegistry" type="BaseEntity.Metadata.DataExporterRegistry, BaseEntity.Metadata" />
    <alias alias="DataImporterRegistry" type="BaseEntity.Metadata.DataImporterRegistry, BaseEntity.Metadata" />
    <alias alias="DatabaseMetadataPlugin" type="BaseEntity.Metadata.DatabaseMetadataPlugin, BaseEntity.Metadata" />
    <alias alias="DatabasePluginLoader" type="BaseEntity.Database.DatabasePluginLoader, BaseEntity.Database" />
    <alias alias="PropertyMetaCreatorFactory" type="BaseEntity.Metadata.PropertyMetaCreatorFactory, BaseEntity.Metadata" />
    <alias alias="IIdentityContext" type="BaseEntity.Metadata.IIdentityContext, BaseEntity.Metadata" />
    <alias alias="IEntityContextFactory" type="BaseEntity.Metadata.IEntityContextFactory, BaseEntity.Metadata" />
    <alias alias="DesktopIdentityContext" type="BaseEntity.Metadata.DesktopIdentityContext, BaseEntity.Metadata" />
    <alias alias="NHibernateEntityContextFactory" type="BaseEntity.Database.NHibernateEntityContextFactory, BaseEntity.Database" />
    <alias alias="IPlugin" type="BaseEntity.Configuration.IPlugin, BaseEntity.Configuration" />
    <alias alias="IPluginLoader" type="BaseEntity.Configuration.IPluginLoader, BaseEntity.Configuration" />
    <alias alias="ISecurityPolicyImplementor" type="BaseEntity.Metadata.ISecurityPolicyImplementor, BaseEntity.Metadata" />
    <alias alias="NullSecurityPolicyImplementor" type="BaseEntity.Metadata.NullSecurityPolicyImplementor, BaseEntity.Metadata" />
    <alias alias="IEntityPolicyFactory" type="BaseEntity.Metadata.IEntityPolicyFactory, BaseEntity.Metadata" />
    <alias alias="NullEntityPolicyFactory" type="BaseEntity.Metadata.NullEntityPolicyFactory, BaseEntity.Metadata" />
    <alias alias="IPropertyMetaCreatorFactory" type="BaseEntity.Metadata.IPropertyMetaCreatorFactory, BaseEntity.Metadata" />
    <!--<alias alias="ToolkitPlugin" type="BaseEntity.Toolkit.Util.Configuration.ToolkitPlugin, BaseEntity.Toolkit" />
    <alias alias="ToolkitPluginLoader" type="BaseEntity.Toolkit.Util.Configuration.ToolkitPluginLoader, BaseEntity.Toolkit" />-->
    <container>
      <register type="IDataExporterRegistry" mapTo="DataExporterRegistry">
        <lifetime type="singleton" />
      </register>
      <register type="IDataImporterRegistry" mapTo="DataImporterRegistry">
        <lifetime type="singleton" />
      </register>
      <register type="IIdentityContext" mapTo="DesktopIdentityContext">
        <lifetime type="singleton" />
      </register>
      <register type="IEntityContextFactory" mapTo="NHibernateEntityContextFactory">
        <lifetime type="singleton" />
      </register>
      <register type="IPropertyMetaCreatorFactory" mapTo="PropertyMetaCreatorFactory">
        <lifetime type="singleton" />
      </register>
      <register type="IPlugin" mapTo="DatabaseMetadataPlugin" name="DatabaseMetadataPlugin">
        <lifetime type="singleton" />
      </register>
      <register type="IPluginLoader" mapTo="DatabasePluginLoader" name="DatabasePluginLoader">
        <lifetime type="singleton" />
      </register>
      <!--<register type="IPlugin" name="ToolkitPlugin" mapTo="ToolkitPlugin">
        <lifetime type="singleton" />
      </register>
      <register type="IPluginLoader" mapTo="ToolkitPluginLoader">
        <lifetime type="singleton" />
      </register>
      <register type="ICalendarRepository" mapTo="FileCalendarRepository">
        <lifetime type="singleton" />
      </register>-->
      <register type="ISecurityPolicyImplementor" mapTo="NullSecurityPolicyImplementor">
        <lifetime type="singleton" />
      </register>
      <register type="IEntityPolicyFactory" mapTo="NullEntityPolicyFactory">
        <lifetime type="singleton" />
      </register>
    </container>
    <container name="ConsoleApp" />
  </unity>
</configuration>
