@model WebMathTraining.Models.TestSession

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TestSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ObjectId" class="control-label"></label>
                <input asp-for="ObjectId" class="form-control" disabled="disabled" />
                <span asp-validation-for="ObjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlannedStartLocal" class="control-label"></label>
                <input asp-for="PlannedStartLocal" class="form-control" />
                <span asp-validation-for="PlannedStartLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlannedEndLocal" class="control-label"></label>
                <input asp-for="PlannedEndLocal" class="form-control" />
                <span asp-validation-for="PlannedEndLocal" class="text-danger"></span>
            </div>
            <div class="form-group" type="hidden">
                <input asp-for="LastUpdated" type="hidden" />
                <input asp-for="TesterData" type="hidden" />
                <input asp-for="TestQuestionData" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
