@using WebMathTraining.Utilities;

@model WebMathTraining.Models.TestInstructionViewModel

@{
    ViewData["Title"] = "For training purposes only - test instructions";
}

<h4>@("1. You are taking test session: " + Model.SessionName + " -- " + Model.SessionDescription) </h4>

<h4>@("2. You have " + Model.AllowedTimeSpan.Display() + " to solve " + Model.TotalQuestions + " questions, the maximum score points are " + Model.TotalScorePoints)</h4>
<h4>3. Each test question has various score point depending on the difficulty level, and penalty point to the wrong answer, skipped question will have 0 point. </h4>
<h4>4. All choice-based questions are single-choice ones</h4>
<h4>5. The use of external material or aid of any kind is not permitted</h4>
<h4>6. The figures are not drawn to scale, they are only for illustration purposes</h4>
<h4>7. Please click "Finish Test" button at the end of the test only when all answers are final, answers can NOT be changed after finishing the test and graded</h4>
<h4>8. Before finishing the test during the allowed session time frame, the tester can go back to the session start for correcting any answers</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestSessionId" />
            <input type="hidden" asp-for="SessionObjectId" />
            <input type="hidden" asp-for="UserObjectId" />
            <input type="hidden" asp-for="UserName" />
            <div class="form-group">
                <label asp-for="SessionName" class="control-label"></label>
                <input asp-for="SessionName" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for=" AllowedTimeSpan" class="control-label">Planned Test Time</label>
                <input asp-for="AllowedTimeSpan" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="TotalQuestions" class="control-label">Total Questions</label>
                <input asp-for="TotalQuestions" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <input type="submit" value="Begin Test" class="btn btn-default" asp-action="TestInstruction" asp-route-id="@Model.TestSessionId" />
            </div>
        </form>
    </div>
</div>

<div>
    <hr />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
